PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dinedesk?schema=public"
JWT_SECRET="dinedesk_super_secret_jwt_key_2026_codsoft"
FRONTEND_URL="http://localhost:3000"
NODE_ENV="development"
